* {
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  margin: 0 auto;
}

.section1--left--col {
  background-image: url("/images/traffic.jpg");
  background-color: rgb(178, 223, 164);
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 90%;
}

.section1--left--col > h1 {
  font-size: 3rem;
  margin: 2.7em auto 0.57em;
}

.section1--left--col > p {
  margin: 0 1.3em 5em;
}

p {
  font-family: "Montserrat", sans-serif;
}

.section1--right--col {
  background-color: #7988be;
  width: 10%;
}
.section1 {
  display: flex;
  height: 704px;
}
.drone--transparent--img {
  width: 198px;
  height: 148px;
}
